#
# Copyright (C) 2023 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts Synapse Matrix homeserver using Podman.
#
[Unit]
Description=Synapse Matrix Homeserver
After=network-online.target dex.service
Wants=dex.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/synapse.pid %t/synapse.ctr-id
ExecStartPre=-runagent configure-matrix
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/synapse.pid \
    --cidfile=%t/synapse.ctr-id \
    --cgroups=no-conmon \
    --replace --name=synapse \
    --publish=127.0.0.1:${SYNAPSE_PORT}:8008 \
    --volume=synapse-data:/data:Z \
    --volume=%S/state/synapse-config:/data/config:Z \
    --volume=synapse-logs:/data/logs:Z \
    --volume=synapse-media:/data/media_store:Z \
    --env=SYNAPSE_SERVER_NAME=${SYNAPSE_DOMAIN_NAME} \
    --env=SYNAPSE_REPORT_STATS=no \
    --env=SYNAPSE_CONFIG_PATH=/data/config/homeserver.yaml \
    matrixdotorg/synapse:v1.95.1
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/synapse.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/synapse.ctr-id
PIDFile=%t/synapse.pid
Type=forking

[Install]
WantedBy=default.target