#
# Copyright (C) 2025 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts Synapse Matrix homeserver using Podman.
#
[Unit]
Description=Synapse Matrix Homeserver
After=network-online.target dex.service
Wants=dex.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=%S/state/config.env
EnvironmentFile=%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/synapse.pid %t/synapse.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStartPre=-runagent configure-matrix
ExecStartPre=podman run --rm -e SYNAPSE_SERVER_NAME=${SYNAPSE_DOMAIN_NAME}\
 -e SYNAPSE_REPORT_STATS=no  --volume=synapse-data:/data:z --volume=synapse-config:/data/config:z \
 ${SYNAPSE_IMAGE} generate
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/synapse.pid \
    --cidfile=%t/synapse.ctr-id \
    --cgroups=no-conmon \
    --replace --name=synapse \
    --network=host \
    --volume=synapse-data:/data:z \
    --volume=%S/state/synapse-config:/data/config:z \
    --env=SYNAPSE_SERVER_NAME=${SYNAPSE_DOMAIN_NAME} \
    --env=SYNAPSE_REPORT_STATS=no \
    --env=SYNAPSE_CONFIG_PATH=/data/config/homeserver.yaml \
    --env-file=smarthost.env \
    ${SYNAPSE_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/synapse.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/synapse.ctr-id
PIDFile=%t/synapse.pid
Type=forking

[Install]
WantedBy=default.target